<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Filipens Bank |</title>
        <link rel="shortcut icon" href="./assets/logo final/logoPrincipal.png" type="image/x-icon">
        <link rel="stylesheet" href="style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body class="bodyTransfers">
    <div id="app">
    <header class="navAccount">
    <nav class="navAccount">
          <a class="aNav" href="./accounts.html">
              <img class="logo" src="./assets/logo final/logoPrincipal.png" alt="">
          </a>
          <h4 class="fBank">Filipens Bank</h4>
        <div class="botonesNav">

            <a href="#">Transfer <i class="accountsTexto bi bi-info-circle"></i></a>
            <a href="./cards.html">My Cards <i class="bi bi-credit-card"></i></a>
            <a href="#">Notifications<i class="bi bi-bell"></i></a>
            <a @click="cerrarSesion" href="./index.html">Log out<i class="bi bi-box-arrow-in-right"></i></a>
          
        </div>  
        </nav>  
  </header>

   <div class="padreTransfers">
    <div class="fondoTransfers"> <img src="./assets/fondo/parque-nacional-banff.jpg" alt=""> </div>   
        <h3 class="h3Transfer">To transfer <i class="accountsTexto bi bi-info-circle"></i></h3>

        </div>

    <main class="mainTransfers">
        
        <button  class="cardsRedireccion" > <a :href="'./accounts.html'" class="cardsRedireccion1" style="text-decoration:none">Return</a></button>

      <div class="centroTransfers">

       <div class="cuentasTransferencia">
        
<div class="tipoDeCuentaATransferir">
         
  <label>
 
            <input type="radio" name="type" value="personalAccount" v-model="propiedadDeLaCuenta">

            <span>Personal Account</span>
 
          </label>
 
        <label>
 
          <input type="radio" name="type" value="AnotherAccount" v-model="propiedadDeLaCuenta">
 
            <span>Another Account</span>
 
          </label>
 
      </div>


      <div class="contenedorDeForm">
        <form action="../../form-result.php" target="_blank">
            <p class="pContenedor">
          
                Origin Account:
          
              <select name="source" v-model="origen" >
                
                <template v-for="cuenta of cuentas">
                  
                  
                    <option>{{cuenta.number}}</option> 
                  
                 
                
                </template>
              
              </select>
          
          
            </p>
          
          </form>
          <form action="../../form-result.php" target="_blank">

            <p class="pContenedor1">
          
                Destination Account:
          
                <input type="text" v-show="propiedadDeLaCuenta == 'AnotherAccount' ">

                <select name="source" v-model="destino2" v-show="propiedadDeLaCuenta == 'personalAccount' ">
                
                  
                  {{destinationAccounts}}
                  
                  <template v-for="cuenta of destinationAccount">
                    
                    
                      <option>{{cuenta.number}}</option> 
                    
                   
                  
                  </template>
                
                </select>
          
          
            </p>
          
          </form>
        </div>
        
        <div class="amountNumber">

          <p>Amount :</p>

            <input type="Number" class="formularioCantidad" min="0" max="35000" placeholder="$ 2.500" v-model="cantidad" >
          
        </div>

    <div class="descriptionTransfer">
        <p>Description transfer: </p>
        <input type="text" class="formularioTransferencia" placeholder=" Description..." v-model="descripcion" >
    </div>   

    <button class="sendBotton" @click="alerta" >
      <div class="svg-wrapper-1">
        <div class="svg-wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path fill="none" d="M0 0h24v24H0z"></path>
           <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"> </path>
          </svg> 
        </div>
      </div> 
     <span> Send </span> 
    </button>
</div>  

    </main>
    
    
    </div>  

  

    <section class="footerTransfers">
        <!-- Footer -->
        <footer class="footerTransfers text-center text-white" style="background-color: #0a4275;">
          <!-- Grid container -->
          <div class="container p-4 pb-0">
            <!-- Section: CTA -->
            <section class="">
              <p class="d-flex justify-content-center align-items-center">
                <span class="me-3">Register for free</span>
                
              </p>
            </section>
            <!-- Section: CTA -->
          </div>
          <!-- Grid container -->
      
          <!-- Copyright -->
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-white">Filipens Bank</a>
          </div>
          <!-- Copyright -->
        </footer>
        <!-- Footer -->
      </section>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>
<script src="./transfers.js"></script>
</body>
</html>